<div class="list">
  <div class="row">
    <% @list.each do |list| %>
      <div class= "col-xs-3" >
        <div class="thumbnail">
          <img src="<%= list.item.image %>">
          <div class="caption">
            <h3 class="name"><%= list.item.name %></h3>
          </div>
            <p class="caption"><%= link_to("delete", delete_list_path(list), method: :delete)%></p>
        </div>     
      </div>
    <% end %>
  </div>
</div>
