<div class="container">
      <h1>instalist</h1>
      <p>a grocery shopping list</p>
    </div>
  </div>


<div class="section">
  <div class="container">

    <div class="row">

      <div class="col-xs-6">
        <%= image_tag "grocery icons.png" %>
      </div>

      <div class="col-sm-6">
        <h2>convenient</h2>
        <p>Save time by using our convenient grocery list app. No more paper lists left at home, no more forgotten items to buy or double purchases, no more annoying calls with requests to buy couple more things!</p>
      </div>

    </div>  


    <div class="row">

      <div class="col-sm-6">
        <h2>easy</h2>
        <p>Our application is an easy-to-use and intuitive grocery shopping list that can be as simple or as detailed as you'd like.</p>
      </div>      

      <div class="col-xs-6">
        <%= image_tag "grocery icons2.png" %>
      </div>

    </div> 


    <div class="row">

      <div class="col-xs-6">
        <%= image_tag "grocery icons3.png" %>
      </div>

      <div class="col-sm-6">
        <h2>effective</h2>
        <p>Handle your lists the most effective way.
        Keep your lists in sync with your family or friends by sharing your account. All of you can add or change items on the go from anywhere using any device.</p>
      </div>

    </div>       


                    

  </div>
</div>

    
  <!--  <div class="store section container">
      <h2>Available for iPhone, iPad, and Android.</h2>
      <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="185px" />
      <img alt="Get it on Google Play" src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="159px" />
      </div>
    </div>-->

    

        
      </div>
    </div>